<footer role="contentinfo">
  <div class="footer--container">
    <ul>
      <li>
    <a href="https://www.facebook.com/EnsembleCobalt/">
      <span class="banner--contact-text">Suivez-nous sur Facebook</span>
    </a>
      </li>
      <li>
	<a href="https://www.instagram.com/cdlm_festival/">
	   
      <span class="banner--contact-text">Suivez-nous sur Instagram</span>
	</a>
      </li>
    </ul>
    <nav role="navigation">
<ul>
  <li><a href="/mentions-legales/">Mentions légales</a></li>
  <li><a href="/plan-du-site/">Plan du site</a></li>
  <li><a href="/FAQ/">FAQ</a></li>
</ul>
    </nav>
  </div>
</footer>
