<header role="banner">
  <a class="skip--link" href="#content">Aller au contenu</a>
  <div class="banner">
    <a href="{{ .Site.BaseURL }}" class="banner--title">
	<span class="banner--icon-container">
	  <img class="banner--icon" src="/img/icons/music-genre-moon.png" alt="" aria-hidden="true">
	</span>
	<span class="banner--contact-text">Accueil</span>
    </a>
    <!--Contact mobile-->
    <a href="/contactez-nous" class="banner--contact hidden--desktop">
      <span class="banner--icon-container">
	<img class="banner--icon" src="/img/icons/contact-us-email.png" alt="Contactez-nous">
      </span>
    </a>
    <!--Contact desktop-->
    <a href="/contactez-nous" class="banner--contact hidden--mobile">
      <span class="banner--icon-container">
	<img class="banner--icon" src="/img/icons/contact-us-email.png" alt="">
      </span>
      <span class="banner--contact-text">Contactez-nous</span>
    </a>
  </div>
</header>
