<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Claviers dans les Monts à Saint Rivoal est un événement annuel célébrant la musique au piano et
    aux instruments à clavier. Découvrez les concerts et les activités organisés lors de ce festival unique."
  />
  <!--opengraph-->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Claviers Dans Les Monts" />
  <meta property="og:url" content="https://claviersdanslesmonts.fr" />
  <meta
    property="og:image"
    content="https://claviersdanslesmonts.fr/img/opengraph.png"
  />
  <meta
    property="og:description"
    content="Claviers dans les Monts à Saint Rivoal est un événement annuel célébrant la musique au piano et aux instruments à clavier."
  />
  <!--Accessible slick-->
  <!-- Add the core slick.min.css -->
  <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css"
  />

  <!-- Add ONE of the theme files (accessible version or original) -->
  <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css"
  />
  <!--SASS Configuration-->
  <!--{{ $sass := resources.Get "scss/main.scss" }} {{ $style := $sass |
  resources.ToCSS (dict "enableSourceMap" true) | resources.Fingerprint }}-->
  {{ $options := dict "targetPath" "css/style.css" "transpiler" "dartsass" "vars" .Site.Params.theme }}
  {{ $css := resources.Get "scss/main.scss" | css.Sass $options }}
  <link
    rel="stylesheet"
    href="{{ $css.RelPermalink }}"
  />
  <!--integrity="{{ $style.Data.Integrity }}"-->
  <link rel="preload" as="image" href="img/{{ .Site.Params.current }}/logo.png" />
  <link rel="preload" as="image" href="img/{{ .Site.Params.current }}/banner.jpg" />
  <link rel="preload" as="image" href="img/{{ .Site.Params.current }}/banner-mobile.jpg" />
  <!--Format pages titles-->
  {{ $title := print .Title " | " .Site.Title }} {{ if .IsHome }}{{ $title =
  .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
  <!--Not yet formatted to update automatically each year-->
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="/favicon/2024/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="/favicon/2024/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/favicon/2024/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="/favicon/2024/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="/favicon/2024/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/favicon/2024/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/favicon/2024/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="/favicon/2024/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicon/2024/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/favicon/2024/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon/2024/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="/favicon/2024/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon/2024/favicon-16x16.png"
  />
  <link rel="manifest" href="/favicon/manifest.json" />
  <meta name="msapplication-TileColor" content="#faf3e3" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <meta name="theme-color" content="#faf3e3" />
</head>
