.carousel {
  padding-top: 2rem;
  max-width: 70vw;
  margin: auto;
  img {
    width: 70vw;
    height: auto;
    margin: auto;
  }
  h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
  }
}
