.carousel {
  padding: 0.2rem;
  padding-top: 2rem;
  max-width: 70vw;
  margin: auto;
  img {
    width: 63vw;
    height: auto;
    margin: auto;
  }
  h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
  }
}

.carousel--item {
  padding: 0.4rem;
}
