.container--single {
  width: 90vw;
  margin: auto;
  padding-top: 1.2rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 1.2rem;
  }
  p {
    padding-top: 1rem;
  }
  ul {
    padding-top: 1rem;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .container--single-content {
    width: 90vw;
    img {
      width: 95%;
      border: 1px solid #220d00;
    }
  }
}
