/* playfair-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/playfair-display-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/playfair-display-v30-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/playfair-display-v30-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/playfair-display-v30-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/playfair-display-v30-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/playfair-display-v30-latin-500.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/lato-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lato-v23-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lato-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/lato-v23-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
}

html {
  font-size: 16px;
  font-family: "Lato";
}

// Hidden mobile
.hidden--mobile {
  display: none;
}

// Colors
body {
  background-color: $body-bg;
  color: $body-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 0%;
}

a {
  color: black;
}

li {
  list-style-type: circle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
