{{ define "main" }}
  {{ range $index, $section := .Pages.ByTitle.Reverse }}
    <div class="container--single">
      <div class="container--single-content">
        <h1 style="padding-bottom:1em;">{{ .Title }}</h1>
        {{ if eq $index 0 }}
          <table>
            {{ range .Pages.ByDate }}
              <tr><td><a href="{{ .RelPermalink }}"><img src="{{ .Params.cover }}" alt="{{ .Title }}"/></a></td><td width="50%"><a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong><br>{{ .Date.Format "15h04 Monday 2 January" }}<br>{{ .Params.place }}<br>{{ .Description }}</a></td></tr>
            {{ end }}
          </table>
        {{ else }}
          <ul>
            {{ range .Pages.ByDate }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  {{ end }}
{{ end }}