{{ define "main" }}
    {{ $thisTitle := .Title }}
    <div class="container--single">
        <div class="container--single-content">
            <h2>{{ .Title}}</h2>
            <h3>{{ dateFormat "2 Jan 15h04" .Date }} - {{ .Params.place }}</h3>
            <em>{{ .Description }}</em><br>
            <img src="{{ .Params.cover }}" alt="{{ .Title }}"/>
            {{ .Content }}
                   
        </div>
    </div>
    <div class="carousel">
        {{ range (.Site.GetPage (printf "/artistes/%s" (string .Site.Params.current))).Pages.ByDate }}
            {{ if ne .Title $thisTitle }}
                <div class="carousel--item">
                    <a href="{{ .RelPermalink }}">
                        {{ with $img := strings.Replace .Params.cover ".." .Site.BaseURL }}
                            <img src="{{ $img }}" alt="" />
                        {{ end }}
                        <h3>{{ .Title }}</h3>
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </div>       
{{ end }}
