{{ define "main" }}
  <div class="container--single">
    <div class="container--single-content">
      Ce plan du site présente l'ensemble des pages du site.
      <h2>Présentation générale</h2>
      <ul>
        <li><a href="{{ .Site.BaseURL }}/">Acceuil</a></li>
        <li><a href="{{ .Site.BaseURL }}/a-propos/">À propos</a></li>
        <li><a href="{{ .Site.BaseURL }}/programme/">Programme</a></li>
        <li><a href="{{ .Site.BaseURL }}/editions-precedentes/">Éditions précédentes</a></li>
        <li><a href="{{ .Site.BaseURL }}/cobalt/">Ensemble Cobalt</a></li>
        {{ if eq .Site.Params.stage true }}
          <li><a href="{{ .Site.BaseURL }}/stage/">Stage</a></li>
        {{ end }}
      </ul>
      <h2>Contact</h2>
      <ul>
        <li><a href="{{ .Site.BaseURL }}/contactez-nous/">Contactez-nous</a></li>
      </ul>
      <h2>Artistes</h2>
      <ul>
        {{ range (.Site.GetPage (printf "/artistes/%s" (string .Site.Params.current ))).Pages.ByDate }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <h2>Autres informations</h2>
      <ul>
        <li><a href="{{ .Site.BaseURL }}/presse/">Presse</a></li>
        <li><a href="{{ .Site.BaseURL }}/mentions-legales/">Mentions légales</a></li>
      </ul>    
    </div>
  </div>
{{ end }}
