{{ define "main" }}
  <div class="container--single">
    <div class="container--single-content">
      <img src="/img/{{ .Site.Params.current }}/programme.jpg" alt="Claviers dans les Monts - {{ .Site.Params.edition }} édition - {{ .Site.Params.date }}"/>
      
      {{ range (.Site.GetPage (printf "/artistes/%s" (string .Site.Params.current))).Pages.ByDate }}
        <div class="flex-container">
	  <div class="flex-items"><img src="{{ .Params.cover }}" alt=""/></div>
	  <div class="flex-items">{{ dateFormat "2 Jan" .Date }}</div>
	  <div class="flex-items">{{ .Params.place }}</div>
	  <div class="flex-items"><strong>{{ .Title }}</strong></div>
       </div>
      {{ end }}
      <p>Concerts à <em>prix libre</em> et <em>sans reservations</em></p>
      <p>Toute information supplémentaire - {{ .Site.Params.number }}</p>
    </div>
  </div>
{{ end }}
