@media (min-width: 1024px) {
  .banner {
    max-width: $container;
  }
  .nav--container-list {
    max-width: 90vw;
    padding: 1rem 0;
    margin: auto;
  }
  .hero {
    position: relative;
    max-width: $container;
    .hero--loup {
      position: absolute;
      display: block;
      left: -8.3rem;
      top: 2.2rem;
    }
  }
  .index--content {
    max-width: $container;
  }
  .carousel img {
    width: 22vw;
  }
  .container--single {
    width: $container;
    .container--single-content {
      width: 60vw;
    }
  }
  .nav--list {
    display: flex;
    gap: 1.5rem;
    padding: 0.6rem 0;
    margin-left: 0rem;
  }
  .nav--container-list {
    display: flex;
    align-items: center;
  }
  body > div > div > div > ul > li:nth-child(2) {
    margin-bottom: 0;
  }
}
