@media (min-width: 640px) {
  .hidden--mobile {
    display: block;
  }

  .banner--contact {
    display: flex;
  }

  .hidden--desktop {
    display: none;
  }

  .banner--contact-text {
    padding-left: 0.4rem;
  }

  .nav--list {
    padding: 0.6rem 0;
  }
  .hero {
    margin: auto;
    max-width: 94vw;
    .banner--img {
      display: block;
      position: relative;
      width: 99.5vw;
      left: calc(-50vw + 50%);
      border: none;
    }
    .banner--img-mobile {
      display: none;
    }
  }
  .carousel img {
    width: 68vw;
  }
  .index--content {
    margin: auto;
    max-width: 94vw;
  }
}
