{{ define "main" }}
  <div class="hero">
    <img class="hero--loup" src="/img/loup.png" alt="">
    <h1 class="hero--subtitle">Claviers dans les Monts, <br> un festival de claviers dans les Monts d'Arrée</h1>
    <p class="hero--place">Saint-Rivoal · 16 et 17 Juin 2023</p>
    <a href="/programme/" class="hero--link-program">Découvrir la programmation</a>
    <br>
    <p><span aria-hidden="true">&#128591;</span> <a
    href="https://www.helloasso.com/associations/ensemble-cobalt/collectes/soutien-au-festival-claviers-dans-les-monts-3eme-edition"
    class="hero--link-support">Soutenir le festival</a></p>
  <img class="banner--img" src="/img/banner.png" alt="claviers dans les monts - 3ème édition">
  <img class="banner--img-mobile" src="/img/banner-mobile.png" alt="Claviers dans les Monts - 3ème édition">
  </div>
  <div class="index--content">
    <h2>Les artistes de l'édition 2023</h2>
  {{- partial "carousel.html" . -}}
  <div class="index--infos">
    <div class="index--infos-about">
      <h2>Infos pratiques</h2>
      {{ .Content }}
    </div>
    <div class="index--infos-support">
      <h2>Soutenir le festival</h2>
      <iframe id="haWidget" 
	src="https://www.helloasso.com/associations/ensemble-cobalt/collectes/soutien-au-festival-claviers-dans-les-monts-3eme-edition/widget-vignette"
	style="width: 300px; height: 550px; border: none; margin-top: 1rem;"></iframe>
    </div>
  </div>
{{ end }}
