{{ define "main" }}
  <div class="hero">
    <img class="hero--loup" src="/img/loup.png" alt="">
    <h1 class="hero--subtitle">Claviers dans les Monts, un festival de claviers dans les Monts d'Arrée</h1>
    <p class="hero--place">Saint-Rivoal · 16 et 17 Juin 2023</p>
    <a href="#" class="hero--link-program">Découvrir la programmation</a>
    <br>
    <a href="#" class="hero--link-support">Soutenir le festival</a>
  <img class="banner--img" src="/img/banner.png" alt="claviers dans les monts - 3ème édition">
  <img class="banner--img-mobile" src="/img/banner-mobile.png" alt="Claviers dans les Monts - 3ème édition">
  </div>
  {{- partial "carousel.html" . -}}
  {{ .Content }}
  </div>
{{ end }}
