{{ define "main" }}
  <div class="hero">
    <img class="hero--logo" src="../img/{{ .Site.Params.current }}/logo.png" alt="">
    <h1 class="hero--subtitle">Claviers dans les Monts, <br> un festival de claviers dans les Monts d'Arrée</h1>
    <p class="hero--place">Saint-Rivoal · {{ .Site.Params.date }}</p>
    <a href='/programme/' class="hero--link-program">Découvrir la programmation</a>
    <br>
    <p><span aria-hidden="true">&#128591;</span> <a href="{{ .Site.Params.helloasso }}" class="hero--link-support">Soutenir le festival</a></p>
    <img class="banner--img" src="../img/{{ .Site.Params.current }}/banner.jpg" alt="">
    <img class="banner--img-mobile" src="../img/{{ .Site.Params.current }}/banner-mobile.jpg" alt="">
  </div>
  
  <div class="index--content">
    <h2>Les artistes</h2>
    {{- partial "carousel.html" . -}}
    <div class="index--infos">
      <div class="index--infos-about">
        <h2>Infos pratiques</h2>
        {{ .Content }}
        <p>Vous pouvez dès à présent nous soutenir via <a href="{{ .Site.Params.helloasso }}">notre campagne helloasso</a>.</p>
      </div>
      <div class="index--infos-support">
        <h2>Soutenir le festival</h2>
        <iframe title="campagne de don helloasso" id="haWidget" src="{{ .Site.Params.helloasso }}/widget-vignette"style="width: 300px; height: 550px; border: none; margin-top: 1rem;"></iframe>
      </div>
    </div>
  </div>
{{ end }}
